.col-md-4 img{
    width: 100%;
    border-radius: 16px;
    padding: 8px;
}
.col-md-5 img{
    width: 100%;
    border-radius: 16px;
    padding: 8px;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.view-button{
    text-decoration: none;
    text-align: center;
    width: 120px;
    padding: 10px 0;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1.4rem;
    margin-top: 16px;
    align-self: flex-start;
}
.item-data{
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    line-height: 2rem;
}