{% extends "base.html" %}
{% block content %}
    <h3>
        About Us
    </h3>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, est repellendus dicta, maxime
        reiciendis laborum odio officia perferendis sapiente, consequuntur placeat minima sed nisi error
        explicabo ipsam provident quibusdam doloremque.
        lo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates doloribus unde ipsum, aliquam deleniti repellendus
        dolor, asperiores magni harum quisquam mollitia, libero minima suscipit porro possimus tempore neque incidunt rerum?
    </p>
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-12 col-lg-8 col-xl-7">
        <!-- Divider-->
        <hr class="my-4" />
        <!-- Post preview-->
        
    </div>
    
</div>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4">
        <img src="{{url_for('static',filename ='img/aboutrecipe.jpg' )}}" alt="">
        
    </div>
    <div class="col-md-4">
        <img src="{{url_for('static',filename ='img/pumpkin-soup.jpg' )}}" alt="">
        <p>
            Lorem ipsum dolor sit amet
        </p>
        
    </div>
    <div class="col-md-4">
        <img src="{{url_for('static',filename ='img/foodhand.jpg' )}}" alt="">
        
    </div>
</div>

{% endblock %}