{% extends "base.html" %}
{% block content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- Post preview-->
        <div class="post-preview">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, est repellendus dicta, maxime
                reiciendis laborum odio officia perferendis sapiente, consequuntur placeat minima sed nisi error
                explicabo ipsam provident quibusdam doloremque.
                lo
            </p>

        </div>
        <!-- Divider-->
        <hr class="my-4" />
        <!-- Post preview-->
    </div>
    
</div>
<div class="row">
    <div class="col-md-12 col-lg-8 col-xl-7">
        <img src="{{url_for('static',filename ='img/aboutrecipe.jpg' )}}" alt="">
        
    </div>
</div>

{% endblock %}