{% extends "base.html" %}
{% block content %}
    <h1>{{ page_title }}</h1>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Chocolate Cake</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolores nesciunt nobis, inventore asperiores omnis
                exercitationem nihil doloribus dignissimos nostrum vitae eveniet earum minima autem, similique quibusdam error officia
                accusamus.
            </p>
        </div>
        <div class="col-md-5">
            <img src="{{url_for('static',filename ='img/cioccolate.jpg' )}}" alt="">
            <div class="flex-container">
                <a class="view-button" href="#">View Recipe</a>
            </div>
            <p class="item-data">Calories: 140</p>   
        </div>
        <div class="col-md-7">
            <h3>Cupcakes</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolores nesciunt nobis, inventore asperiores omnis
                exercitationem nihil doloribus dignissimos nostrum vitae eveniet earum minima autem, similique quibusdam error officia
                accusamus.
            </p>
        </div>
        <div class="col-md-5">
            <img src="{{url_for('static',filename ='img/cupcakes.jpg' )}}" alt="">
            <div class="flex-container">
                <a class="view-button" href="#">View Recipe</a>
            </div>
            <p class="item-data">Calories: 140</p>   
        </div>

        <div class="col-md-7">
            <h3>Strawberry Cake</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolores nesciunt nobis, inventore asperiores omnis
                exercitationem nihil doloribus dignissimos nostrum vitae eveniet earum minima autem, similique quibusdam error officia
                accusamus.
            </p>
        </div>
        <div class="col-md-5">
            <img src="{{url_for('static',filename ='img/strawbrry.jpg' )}}" alt="">
            <div class="flex-container">
                <a class="view-button" href="#">View Recipe</a>
            </div>
            <p class="item-data">Calories: 140</p>   
        </div>

        
    </div>
{% endblock %}